
p,h1,h2,h3,h4,h5,h6{
	padding: 10px;
}
.primer-titulo{
	margin-top: 50px;
}
#main{
	margin-top: 5px;
}
.contenedor-blog{
	width: 70%;
	height: auto;
	margin: 0 auto;

}
.side{
	
	width: 29%;
	height: 200px;
	float: right;
	margin-bottom: 10px;
	border:1px solid black;
	margin-top: 50px;
	position: sticky;
}
.content{
	width: 70%;
	height: auto;
	float: left;
}
#head-tab{
margin: 0;
width: 100%;
height:30px;
border-radius: 2px;
}


@media screen and (max-width: 768px){
	#main{
		margin:0;
	}
	.contenedor-blog{
		width: 100%;
		height: auto;
	}
	.side{
		display: none;
	}
	.content{
		width: 100%;
		padding: 5px;
	}
}